
{% include "SIECoreBundle:Default:head.html.twig" %} 
{% include "SIEEquipementBundle:Default:search_equipement.html.twig" %} 
   {% javascripts '@SIEEquipementBundle/Resources/public/js/front_equipement.js' %}
    <script src="{{ asset_url }}"></script>          
    {% endjavascripts %}
<title id="titre">EQUIPEMENTS</title>
<body>

<table id="table_equipement">
    <th id="KeyParam1">Nom</th>
    <th id="KeyParam2">Centrale</th>
    <th id="KeyParam3">Constructeur</th>
    <th id="KeyParam4">Login</th>
    <th id="KeyParam5">Mot de passe</th>
    <th id="KeyParam6">Lien</th>
        {% set nb = nbEquipement + 0 %} {#nbEquipement est envoyé au template via le controlleur #}
    <br>
    <br>
    {% for i in range(0,nbEquipement) %}
        <tr>
            <td id="lib_equipement{{i}}"><input type="text"/></td>
            <td id="lib_centrale{{i}}"><input type="text"/></td>
            <td id="lib_constructeur{{i}}"><input type="text"/></td>
            <td id="login{{i}}"><input type="text"/></td>
            <td id="mdp{{i}}"><input type="text"/></td>
            <td id="lien{{i}}"><input type="text"/></td>
            <td id="btnModif{{i}}"> 
                <button id="btn_modif_equipement" class="btn_modifier"  ng-model="btn_modif_central" >
                    {% image '@SIECoreBundle/Resources/public/images/btn_modif.jpeg'
                    %}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button>
            </td>
            <td id="btnValid{{i}}"> 
                <button id="btn_valid_modif_equipement"  class="btn_valider"   value="valider" style="visibility: hidden">
                    {% image '@SIECoreBundle/Resources/public/images/btn_valider.jpeg'
                    %}
                    <img class="img-background-button"   src="{{ asset_url }}"  alt="valider"/>
                    {% endimage %}
                </button>
            </td>
            <td id="btnAnnuler{{i}}"> 
                <button ng-model="btn_annuler_modif_equipement" id="btn_annuler_equipement" class="btn_annuler" style="visibility: hidden">
                    {% image '@SIECoreBundle/Resources/public/images/btn_annuler.jpeg'
                    %}
                    <img class="img-background-button"   src="{{ asset_url }}"  alt="annuler"/>
                    {% endimage %}    
                </button>
            </td>

        </tr>
    {% endfor%}    
</table>
</body>
</html>