{# SIECentralBundle/Resources/views/form/detail_centrale.html.twig #}

<div class="panel panel-default" id="detail" id="nav_detail"  >
    <div class="panel-heading"> <!-- panel heading -->

        <h3 class="panel-title">Détails </h3> <!-- panel title -->
        <ul class="nav nav-tabs">
            {#<li id="menu_information" class=""><a data-toggle="#informations_centrale" href="#informations_centrale">Global</a></li>#}
            <li id="menu_information" class="active"><a  onClick="fc_css_select_details_centrale()" data-toggle="tab" >Global</a></li>
                {#<button onClick="fc_css_select_details_centrale()"> Glogal</button>#}
                {#<li id="menu_information"><a onClick="fc_css_select_menu_informations_centrale();" data-toggle="tab" href="#informations_centrale">Global</a></li>#}
            <li  id="menu_equipement"  ><a onClick="fc_css_select_equipement_centrale()" data-toggle="#nav_detail"  >Equipements</a></li>
                {#<li  id="menu_equipement"  class="active"><a data-toggle="tab" onClick="fc_css_select_menu_equipement_centrale();" href="#equipement_centrale">Equipements</a></li>#}
            <li  id="menu_prestataire" class=""><a onClick="fc_css_select_prestataire_centrale()" data-toggle="#nav_detail"  >Prestaire</a></li>
                {#<li  id="menu_schema"><a data-toggle="tab" onClick="fc_css_select_menu_schema_centrale();"  href="#">Schémas</a></li>#}
        </ul>
    </div>

    <div class="panel-body"  > 

        <div class="tab-content" >
            <div id="informations_centrale" class="tab-pane fade active in">

                <button id="btn_modif_info_central" class="btn_modifier"     style=" float: right;">
                    {% image '@SIECoreBundle/Resources/public/images/btn_modif.jpeg'
                    %}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button>
                <table class="table-condensed">

                    <tbody class="content_tab" >
                        <tr><td>Nom</td><td><input type="text" id="lib_central" disabled="true"></td></tr>
                        <tr><td>Code analytique</td><td><input type="text" id="code_ana" disabled="true"></td></tr>
                        <tr><td>Direction</td><td><input type="text" id="direction" disabled="true"></td></tr>
                        <tr><td>Chargé d'exploitation</td><td><input type="text" id="cex" disabled="true"></td></tr>
                        <tr><td>Type</td><td><input type="text" id="type_central" disabled="true"></td></tr>
                        <tr><td>Societe</td><td><input type="text" id="societe_principale" disabled="true"></td></tr>
                        <tr><td>Puissance</td><td><input type="text" id="puissance_estimee" disabled="true"></td></tr>
                        <tr><td>
                                <button  id="btn_valid_modif_details_central" class="btn_valider"    style="visibility: hidden">
                                    {% image '@SIECoreBundle/Resources/public/images/btn_valider.jpeg'%}
                                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                                    {% endimage %}
                                </button> 
                                <button  id="btn_annule_modif_details_central" class="btn_annuler"  style="visibility: hidden"  >
                                    {% image '@SIECoreBundle/Resources/public/images/btn_annuler.jpeg'%}

                                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                                    {% endimage %}
                                </button> 


                    </tbody>

                </table>
                <br/>



            </div>
            <div id="equipement_centrale" class="tab-pane fade">
              
                <button  id="btn_ajout_equipement_central" class="btn_ajout"   style=" float: right;">
                    {% image '@SIECoreBundle/Resources/public/images/btn_ajout.jpeg'
                    %}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="AJout"/>
                    {% endimage %}
                </button>
                <table class="table-condensed">


                    <tbody class="content_tab" id='tab_equipement_central' charset="UTF-8">

                        <tr> <td> Nom de l'équipment </td>
                            <td> Constructeur </td>
                            <td> Type </td>
                            <td> Modif </td>
                        </tr>
                        <tr>
                            
                            <td><input type="text" id="lib_equipement_centrale" disabled="true"></td>


                            <td><input type="text" id="lib_constructeur" disabled="true"> </td>


                            <td><input type="text" id="lib_type" disabled="true"></td>


                            
                        </tr>


                    </tbody>
                    <input type="hidden" id="id_equipement_centrale" disabled="true"> 
                    <input type="hidden" id="id_constructeur" disabled="true"> 
                    <input type="hidden" id="id_type" disabled="true"> 
                    
                </table>
                <button  id="btn_valid_modif_equipement_central" class="btn_valider"    style="visibility: hidden">
                    {% image '@SIECoreBundle/Resources/public/images/btn_valider.jpeg'%}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button> 
                <button  id="btn_annule_modif_equipement_central" class="btn_annuler"  style="visibility: hidden"  >
                    {% image '@SIECoreBundle/Resources/public/images/btn_annuler.jpeg'%}

                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button> 
            </div>
            <div id="prestataire_centrale" class="tab-pane fade">
                <button id="btn_ajout_presta_central" class="btn_modifier"   style=" float: right;">
                    {% image '@SIECoreBundle/Resources/public/images/btn_modif.jpeg'
                    %}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button>
                <button  id="btn_ajout_presta_central" class="btn_ajout"   style=" float: right;">
                    {% image '@SIECoreBundle/Resources/public/images/btn_ajout.jpeg'
                    %}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="AJout"/>
                    {% endimage %}
                </button>

                liste prestataire
                <button  id="btn_valid_modif_presta_central" class="btn_valider"    style="visibility: hidden">
                    {% image '@SIECoreBundle/Resources/public/images/btn_valider.jpeg'%}
                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button> 
                <button  id="btn_annule_modif_presta_central" class="btn_annuler"  style="visibility: hidden"  >
                    {% image '@SIECoreBundle/Resources/public/images/btn_annuler.jpeg'%}

                    <img  class="img-background-button"    src="{{ asset_url }}"  alt="Modif"/>
                    {% endimage %}
                </button> 

            </div>
        </div>
    </div>




</div>
